*
{
    margin: 0;
    padding: 0;
}
body 
{
    background-color: #42555c;
}
main 
{
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
header 
{
    width: 960px;
    height: 100px;
}
.logo
{
    margin-left: 60px;
    margin-top: 15px;
}
nav{
    /* width: 940px; */
    width: 938px;
    /* height: 50px; */
    height: 48px;
    margin: auto;
    border:  solid 1px #3c4d53;
    background-image: linear-gradient( #566a71 , #2e3d42);
}
.main-nav 
{
    list-style: none;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    /* align-content: center;
    align-items: center; */
}
.main-nav li a
{
    text-decoration: none;
    display: block;
    border-right: 1px solid #3c4d53;
    line-height: 48px;
    text-align: center;
    color: #6e8a91;
    font-weight: bold;
    font-family: verdana;
    width: 116.25px;
}
.main-nav li a:hover
{
    color: white;
    background-color: #42555c;
}
.slide
{
    height: 262px;
}
.services
{
    height: 280px;
    width: 940px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: linear-gradient(#4d646c , #42555c);
    display: flex;
}

.left-serv ,
.right-serv
{
    width: 470px;
    height: 280px;
    margin-left: 10px;
    position: relative;
}
.left-serv h3 
{
    color: yellowgreen;
    font-size: 18px;
    font-family: Arial;
    position: absolute;
    left: 30px;
    top: 30px;
}
.left-serv .left-one
{
    color: white;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    padding-right: 10px;
    left: 20px;
    top: 60px;
}
.left-serv .left-two
{
    color: white;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    padding-right: 10px;

    left: 20px;
    top: 175px;
}
.left-serv img
{
 position: absolute;
 right: 0;
 top: 30px;
}
/* rigth */
.right-serv h3 
{
    color: yellowgreen;
    font-size: 18px;
    font-family: Arial;
    position: absolute;
    left: 30px;
    top: 30px;
}
.right-serv p 
{
    color: white;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    padding-right: 10px;
    left: 20px;
    top: 60px;
    width: 240px;
}
.right-serv ul
{
    color: white;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    padding-right: 10px;
    left: 50px;
    top: 150px;
    /* list-style-image: url(/images/check1.png); */
    list-style: none;
}
.right-serv ul li 
{
    background-image: url(/images/check.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 20px;
    margin-bottom: 7px;
}

.right-serv .header
{
    position: absolute;
    right: -15px;
    top: 10px;
}
.right-serv .color
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.h-sep
{
    width: 699px;
    height: 2px;
    margin: 10px auto;
    background-image: url(/images/H-Separator.png);
}
.info
{
    height: 280px;
    width: 940px;
    margin-left: 10px;
    background-image: linear-gradient( #42555c , #4d646c);
    position: relative;
}
.info h3 
{
    color: yellowgreen;
    font-size: 18px;
    font-family: Arial;
    position: absolute;
    left: 30px;
    top: 30px;
}
.info p 
{
    color: white;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    padding-right: 10px;
    left: 20px;
    top: 60px;
}
.info img
{
    position: absolute;
    padding-right: 10px;
    right: 10px;
    bottom: 10px;
}
footer
{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
footer span
{
    color:yellowgreen;
    font-weight: bold;
}
.footer-nav
{
    list-style: none;
    display: flex;
}
.footer-nav li 
{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid white;

}
.footer-nav li a
{
    color: white;
    text-decoration: none;

}
.footer-nav li a:hover
{
    color: yellowgreen;
}


